body { 
  background-color: #444;
  color: #eee;

  margin-left: 11em;
  margin-right: 2em;
  margin-bottom: 5em;

  font-family: bitstream vera sans, verdana, arial, helvetica, sans-serif;
}

A		{ text-decoration: none; }
A:link		{ color: #ddd; }
A:visited	{ color: #ddd; }
A:hover		{ color: #ffa66b; }
A:active	{ color: #ffa66b; }

#sidebar { 
  position: fixed;
  width: 9em;
  height: auto;
  top: 10px;
  left: 10px;
  right: auto;
  bottom: 5%%;

  font-size: 80%;

  border: 1px solid #555555;

  padding: 5px;
}

#sidebar ul > li { 
  list-style-type: none;
}

#sidebar ul ul > li { 
  margin-left: 1em;
  font-size: 90%;
  font-weight: normal;
}

#sidebar li.selected { 
  font-weight: bold;
}

ul.horiz { 
  margin: 0;
  padding: 0;
  border: 0;
}

ul.horiz > li {
  display: inline;
  list-style-type: none;
}

.thumb img { 
  border: 0;
  margin: 2px;
}

#calendar .year-overview {
  margin-top: .5em;
  padding-top: .3em;
  border-top: 5px solid;
}

#calendar .month-overview { 
  margin-left: 2em;
}

#calendar .month-overview h3 { 
  border-top: 1px solid #aaa;
  margin-top: .2em;
}

#calendar table.calendar-grid td { 
  width: 100px;
  height: 100px;
  padding: 0px;
  border: 0;

  font-size: 40px;
  text-align: right;
  vertical-align: bottom;
}

#calendar table.calendar-grid td .number { 
  opacity: .7;
}

#calendar table.calendar-grid td.pictures .number { 
  opacity: .9;
  font-weight: bold;
}

#calendar table.calendar-grid td.day { 
  background-color: #777;
}
#calendar table.calendar-grid td.day.sunday { 
  background-color: #887;
}

#calendar table.calendar-grid td.pictures {
  background-color: #999;
}
#calendar table.calendar-grid td.day.sunday.pictures {
  background-color: #aa9;
}

#calendar .date { 
  border-top: 1px solid #aaa;
  margin-top: 1em;
}

#calendar .date ul { 
  margin-left: 1em;
}

ul.horiz.tags > li {
  margin-right: 1em;
  font-size: 75%;
}

